*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: splash;
    src: url(./Splash-Regular.ttf);
  }
  @font-face {
    font-family: press;
    src: url(./PressStart2P-Regular.ttf);
  }
  
:root {
    --p: #2fff00;
    --s: #ddff00;
    --action: #0c56f7fa;
    --border-radius: 10px;
    --padding: 20px;
}
body {
    background: rgb(235,238,174);
    background: radial-gradient(circle, rgba(235,238,174,1) 10%, rgba(148,233,183,1) 100%);
    font-family:'press','Franklin Gothic Medium';
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.score {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'splash', Georgia;
    background-color: rgba(255, 255, 255, 0);
    padding: var(--padding);
    border-radius: 15px;
}

#reset {
    font-size: 25px;
    grid-column: span 2;
    cursor: pointer;
}

#reset:hover {
    color: var(--action);
}

.action {
    margin-bottom: 40px;
    text-align: center;
}

#message {
    font-size: 25px;
    font-family: 'splash', Georgia;
}

#next {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: var(--action);
    color: rgba(255, 255, 255, 0.592);
    border-radius: var(--border-radius);
    visibility: hidden;
    cursor: pointer;
}

#next.active {
    visibility: visible;
}

.jeu {
    border-top: 1px solid rgb(9, 53, 251);
    border-bottom: 1px solid  rgb(9, 53, 251);
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
}

.button {
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: var(--padding);
}

.btn-user,
.btn-Ia {
    border-radius: 15px;
    transition: all 0.2s ease;
}

.btn-user {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.btn-user:hover {
    color: var(--p);
}

.button p {
    margin-left: 20px;
}

.button:not(:last-child) {
    margin-bottom: 40px;
}

.btn-user.desactivated {
    background-color: var(--back);
    cursor: default;
}

.btn-user.desactivated:hover,
.btn-user.active {
    color: inherit;
}

.btn-user.active {
    background-color: var(--p);
}

.btn-Ia.active {
    background-color: var(--s);
}

/* reponsive  */
@media screen and (max-width: 900px) {
body{
    padding: 0;
}
.jeu {
    padding-top: 20px;
    gap: 100px;
}
.button {
    font-size: 20px;
}
}

@media screen and (max-width: 450px) {
    body{
        padding: 0;
    }
    .jeu {
        padding-top: 5px;
        gap: 50px;
    }
    .button {
        font-size:15px;
    }
    }